.containerprofile{
    padding: 20px;
    margin:  100px 550px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px  3px  5px #000;
    text-align: center;
    color: orange;
    
}
.load{
    font: 30px sans-serif;
    color: blue;
    width: 300px;
    font-weight: 700;
    /* border: 1px solid #000; */
    box-shadow: 1px  3px  5px #000;
    border-radius: 25px;
    padding: 50px;
    text-align: center;
    margin: 40%;

}
