.selectset{
    height: 200px;
}

.insertform .selectPromotoin{
    top: 150px;
    left: 300px;
    position: fixed;
    z-index: 1;
    width: 1000px;
    height: auto;
    background: white;
    padding: 50px 20px 50px 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 100px #bebebe;
}


